<div class="mt-4">

	{% for post in site.posts %}

		{% comment %} Default Styles {% endcomment %}
		{% assign card_style = '' %}
		{% assign text_style = 'text-dark' %}
		{% assign badge_style = 'badge-dark' %}
		
		{% comment %} Update Styles {% endcomment %}
		{% if post.style == 'fill' %}
			{% assign card_style = post.color | prepend: 'bg-' %}
			{% if post.color != 'light' %}
				{% assign text_style = 'text-white' %}
				{% assign badge_style = 'badge-light text-' %}
				{% assign badge_style = badge_style | append: post.color %}
			{% endif %}
		{% else %}
			{% assign card_style = post.color | prepend: 'border border-' %}
			{% if post.color %}
				{% assign badge_style =  post.color | prepend: 'badge-' %}
			{% endif %}
		{% endif %}

		{% comment %} Determine Article URL {% endcomment %}
		{% if post.external_url %}
			{% assign article_url = post.external_url %}
		{% else %}
			{% assign article_url = post.url | relative_url %}
		{% endif %}

		<div class="col-lg-12 my-2 wow animated fadeIn" data-wow-delay=".15s">
			<div style="padding: 1em 0 0 0; margin: 1em 0 0 0; border: 1px solid rgba(0,0,0,.15);">
				<a href="{{ article_url }}" class="">
					<p>{{ post.date | date_to_long_string }}</p>
					<p>
						{% for tag in post.tags %}
							<span class="badge {{ badge_style }}">{{ tag }}</span>
						{% endfor %}
					</p>
					<p>{{ post.title }}</p>
					<p>
						{% if post.description %}
							{{ post.description }}
						{% else %}
							{{ post.content | truncatewords: 25, "<small><i>  read more...</i></small>" }}
						{% endif %}
					</p>
				</a>
			</div>
		</div>

	{% endfor %}

</div>