<nav class="nav nav-tabs flex-column flex-sm-row mt-2 mb-5">
	<a class="flex-sm-fill text-sm-center nav-link active" href="#">Syllabus</a>
	<a class="flex-sm-fill text-sm-center nav-link" href="#">Schedule/Units</a>
	<a class="flex-sm-fill text-sm-center nav-link" href="#">Assignments</a>
	<a class="flex-sm-fill text-sm-center nav-link" href="#">Contacts</a>
	<a class="flex-sm-fill text-sm-center nav-link" href="#">FAQs</a>
	<a class="flex-sm-fill text-sm-center nav-link" href="#">Classroom</a>
</nav>