<nav class="nav nav-tabs flex-column flex-sm-row mt-2 mb-5">
	<a class="flex-sm-fill text-sm-center nav-link active" href="#">Syllabus</a>
	<a class="flex-sm-fill text-sm-center nav-link" href="#">Schedule/Units</a>
	<a class="flex-sm-fill text-sm-center nav-link" href="#">Assignments</a>
	<a class="flex-sm-fill text-sm-center nav-link" href="#">Contacts</a>
	<a class="flex-sm-fill text-sm-center nav-link" href="#">FAQs</a>
	<a class="flex-sm-fill text-sm-center nav-link" href="#">Classroom</a>
</nav>

<ul class="nav nav-pills nav-justified mb-3" id="pills-tab" role="tablist">
	<li class="nav-item">
		<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Syllabus</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Schedule/Units</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Assignments</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contacts</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">FAQs</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Classroom</a>
	</li>
</ul>

  <div class="tab-content" id="pills-tabContent">
	  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">Frame 1</div>
	  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">Frame 2</div>
	  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">Frame 3</div>
  </div>