<div class="table-responsive">
	<table class="table">
		<tbody>
			<tr>
				<th>Course</th>
				<th>Availability</th>
			</tr>
			<tr>
				<td>ASL3310: Introduction to Interpreting </td>
				<td>Fall</td>
			</tr>
			<tr>
				<td>ASL3320: Physiology of Interpreting</td>
				<td>Spring, Summer, Fall</td>
			</tr>
			<tr>
				<td>ASL3330: Cross-Cultural Interpreting</td>
				<td>Spring</td>
			</tr>
			<tr>
				<td>ASL3340: Interpreting II&#8212;Advanced Techniques</td>
				<td>Fall</td>
			</tr>
			<tr>
				<td>ASL3350: Consecutive Interpreting</td>
				<td>on demand</td>
			</tr>
			<tr>
				<td>ASL3360: Simultaneous Interpreting</td>
				<td>on demand</td>
			</tr>
			<tr>
				<td><i>ASL3370: Sign to Voice Interpreting</i></td>
				<td><i>on demand</i></td>
			</tr>
			<tr>
				<td>ASL3380: Transliteration</td>
				<td>on demand</td>
			</tr>
			<tr>
				<td>ASL3390: Professional Issues in Interpreting</td>
				<td>on demand</td>
			</tr>
			<tr>
				<td>ASL4330: Visual Linguistic Analysis</td>
				<td>on demand</td>
			</tr>
			<tr>
				<td>ASL4360: Legal Interpreting</td>
				<td>on demand</td>
			</tr>
			<tr>
				<td>ASL370: Ethics for Interpreters</td>
				<td>on demand</td>
			</tr>
			<tr>
				<td>ASL439R: Special Topics in Interpreting</td>
				<td>on demand</td>
			</tr>
		</tbody>
	</table>
</div>