<nav>
	<div class="nav nav-tabs" id="nav-tab" role="tablist">
	  <a class="nav-item nav-link active" id="nav-01-tab" data-toggle="tab" href="#nav-01" role="tab" aria-controls="nav-01" aria-selected="true">01</a>
	  <a class="nav-item nav-link" id="nav-02-tab" data-toggle="tab" href="#nav-02" role="tab" aria-controls="nav-profile" aria-selected="false">02</a>
	  <a class="nav-item nav-link" id="nav-03-tab" data-toggle="tab" href="#nav-03" role="tab" aria-controls="nav-contact" aria-selected="false">03</a>
	  <a class="nav-item nav-link" id="nav-04-tab" data-toggle="tab" href="#nav-04" role="tab" aria-controls="nav-profile" aria-selected="false">04</a>
	  <a class="nav-item nav-link" id="nav-05-tab" data-toggle="tab" href="#nav-05" role="tab" aria-controls="nav-contact" aria-selected="false">05</a>
	  <a class="nav-item nav-link" id="nav-06-tab" data-toggle="tab" href="#nav-06" role="tab" aria-controls="nav-profile" aria-selected="false">06</a>
	  <a class="nav-item nav-link" id="nav-07-tab" data-toggle="tab" href="#nav-07" role="tab" aria-controls="nav-contact" aria-selected="false">07</a>
	  <a class="nav-item nav-link" id="nav-08-tab" data-toggle="tab" href="#nav-08" role="tab" aria-controls="nav-profile" aria-selected="false">08</a>
	  <a class="nav-item nav-link" id="nav-09-tab" data-toggle="tab" href="#nav-09" role="tab" aria-controls="nav-contact" aria-selected="false">09</a>
	</div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
	<div class="tab-pane fade show active" id="nav-01" role="tabpanel" aria-labelledby="nav-01-tab">01</div>
	<div class="tab-pane fade" id="nav-02" role="tabpanel" aria-labelledby="nav-02-tab">02</div>
	<div class="tab-pane fade" id="nav-03" role="tabpanel" aria-labelledby="nav-03-tab">03</div>
	<div class="tab-pane fade" id="nav-04" role="tabpanel" aria-labelledby="nav-04-tab">02</div>
	<div class="tab-pane fade" id="nav-05" role="tabpanel" aria-labelledby="nav-05-tab">03</div>
	<div class="tab-pane fade" id="nav-06" role="tabpanel" aria-labelledby="nav-06-tab">02</div>
	<div class="tab-pane fade" id="nav-07" role="tabpanel" aria-labelledby="nav-07-tab">03</div>
	<div class="tab-pane fade" id="nav-08" role="tabpanel" aria-labelledby="nav-08-tab">02</div>
	<div class="tab-pane fade" id="nav-09" role="tabpanel" aria-labelledby="nav-09-tab">03</div>
  </div>



<div class="row">
	<div class="col-3">
		<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
			<a class="nav-link active" id="v-pills-general-tab" data-toggle="pill" href="#v-pills-general" role="tab" aria-controls="v-pills-general" aria-selected="true">General Principles: Manual Codes for English (MCEs)</a>
			<a class="nav-link" id="v-pills-casesss-tab" data-toggle="pill" href="#v-pills-casesss" role="tab" aria-controls="v-pills-casesss" aria-selected="false">Conceptually Accurate Signed English (CASE) and Sign Supported Speech (SSS)</a>
			<a class="nav-link" id="v-pills-se-tab" data-toggle="pill" href="#v-pills-se" role="tab" aria-controls="v-pills-se" aria-selected="false">Signed English</a>
			<a class="nav-link" id="v-pills-see1-tab" data-toggle="pill" href="#v-pills-see1" role="tab" aria-controls="v-pills-see1" aria-selected="false">Seeing Essential English (SEE<sub>1</sub>)</a>
			<a class="nav-link" id="v-pills-see2-tab" data-toggle="pill" href="#v-pills-see2" role="tab" aria-controls="v-pills-see2" aria-selected="false">Signing Exact English (SEE<sub>2</sub>)</a>
			<a class="nav-link" id="v-pills-love-tab" data-toggle="pill" href="#v-pills-love" role="tab" aria-controls="v-pills-love" aria-selected="false">Linguistics of Visual English (LOVE)</a>
			<a class="nav-link" id="v-pills-spell-tab" data-toggle="pill" href="#v-pills-spell" role="tab" aria-controls="v-pills-spell" aria-selected="false">Rochester Method/other manual alphabet methods</a>
			<a class="nav-link" id="v-pills-cued-tab" data-toggle="pill" href="#v-pills-cued" role="tab" aria-controls="v-pills-cued" aria-selected="false">Cued Speech</a>
			<a class="nav-link" id="v-pills-pgss-tab" data-toggle="pill" href="#v-pills-pgss" role="tab" aria-controls="v-pills-pgss" aria-selected="false">Paget-Gorman Signed Speech</a>
		</div>
	</div>
	<div class="col-9">
		<div class="tab-content" id="v-pills-tabContent">
			<div class="tab-pane fade show active" id="v-pills-general" role="tabpanel" aria-labelledby="v-pills-general-tab">
				General Principles: Manual Codes for English (MCEs)
			</div>
			<div class="tab-pane fade" id="v-pills-casesss" role="tabpanel" aria-labelledby="v-pills-casesss-tab">
				Conceptually Accurate Signed English (CASE) and Sign Supported Speech (SSS)
			</div>
			<div class="tab-pane fade" id="v-pills-se" role="tabpanel" aria-labelledby="v-pills-se-tab">
				Signed English
			</div>
			<div class="tab-pane fade" id="v-pills-see1" role="tabpanel" aria-labelledby="v-pills-see1-tab">
				Seeing Essential English (SEE<sub>1</sub>)
			</div>
			<div class="tab-pane fade" id="v-pills-see2" role="tabpanel" aria-labelledby="v-pills-see2-tab">
				Signing Exact English (SEE<sub>2</sub>)
			</div>
			<div class="tab-pane fade" id="v-pills-love" role="tabpanel" aria-labelledby="v-pills-love-tab">
				Linguistics of Visual English (LOVE)
			</div>
			<div class="tab-pane fade" id="v-pills-spell" role="tabpanel" aria-labelledby="v-pills-spell-tab">
				Rochester Method/other manual alphabet methods
			</div>
			<div class="tab-pane fade" id="v-pills-cued" role="tabpanel" aria-labelledby="v-pills-cued-tab">
				Cued Speech
			</div>
			<div class="tab-pane fade" id="v-pills-pgss" role="tabpanel" aria-labelledby="v-pills-pgss-tab">
				Paget-Gorman Signed Speech
			</div>
	  	</div>
	</div>
</div>