<div class="row">
	<div class="col-3">
		<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
			<a class="nav-link active" id="v-pills-general-tab" data-toggle="pill" href="#v-pills-general" role="tab" aria-controls="v-pills-general" aria-selected="true">Parts of speech/Lexicality</a>
			<a class="nav-link" id="v-pills-casesss-tab" data-toggle="pill" href="#v-pills-casesss" role="tab" aria-controls="v-pills-casesss" aria-selected="false">Fingerspelling</a>
			<a class="nav-link" id="v-pills-se-tab" data-toggle="pill" href="#v-pills-se" role="tab" aria-controls="v-pills-se" aria-selected="false">Modifying source language</a>
			<a class="nav-link" id="v-pills-see1-tab" data-toggle="pill" href="#v-pills-see1" role="tab" aria-controls="v-pills-see1" aria-selected="false">Name signs, initialized signs, depicting verbs</a>
			<a class="nav-link" id="v-pills-see2-tab" data-toggle="pill" href="#v-pills-see2" role="tab" aria-controls="v-pills-see2" aria-selected="false">Using space, reflexive/indexing, pronominalization</a>
			<a class="nav-link" id="v-pills-love-tab" data-toggle="pill" href="#v-pills-love" role="tab" aria-controls="v-pills-love" aria-selected="false">Subject/object agreement</a>
			<a class="nav-link" id="v-pills-spell-tab" data-toggle="pill" href="#v-pills-spell" role="tab" aria-controls="v-pills-spell" aria-selected="false">Oral components of transliteration</a>
		</div>
	</div>
	<div class="col-9">
		<div class="tab-content" id="v-pills-tabContent">
			<div class="tab-pane fade show active" id="v-pills-general" role="tabpanel" aria-labelledby="v-pills-general-tab">
				<p class="h4">Parts of speech/Lexicality</p>
				<h3></h3>
				<p></p>
				<h3></h3>
				<p></p>
				<h3></h3>
				<p></p>
				<h3></h3>
				<p></p>
				<h3></h3>
				<p></p>
				<h3></h3>
				<p></p>
			</div>
			<div class="tab-pane fade" id="v-pills-casesss" role="tabpanel" aria-labelledby="v-pills-casesss-tab">
				<p class="h4">Fingerspelling</p>
				<h3></h3>
				<p></p>
				<h3></h3>
				<p></p>
				<h3></h3>
				<p></p>
				<h3></h3>
				<p></p>
				<h3></h3>
				<p></p>
				<h3></h3>
				<p></p>
			</div>
			<div class="tab-pane fade" id="v-pills-se" role="tabpanel" aria-labelledby="v-pills-se-tab">
				Modifying source language
				<h3></h3>
				<p></p>
				<h3></h3>
				<p></p>
				<h3></h3>
				<p></p>
				<h3></h3>
				<p></p>
				<h3></h3>
				<p></p>
				<h3></h3>
				<p></p>
			</div>
			<div class="tab-pane fade" id="v-pills-see1" role="tabpanel" aria-labelledby="v-pills-see1-tab">
				Name signs, initialized signs, depicting verbs
				<h3></h3>
				<p></p>
				<h3></h3>
				<p></p>
				<h3></h3>
				<p></p>
				<h3></h3>
				<p></p>
				<h3></h3>
				<p></p>
				<h3></h3>
				<p></p>
			</div>
			<div class="tab-pane fade" id="v-pills-see2" role="tabpanel" aria-labelledby="v-pills-see2-tab">
				Using space, reflexive/indexing, pronominalization
				<h3></h3>
				<p></p>
				<h3></h3>
				<p></p>
				<h3></h3>
				<p></p>
				<h3></h3>
				<p></p>
				<h3></h3>
				<p></p>
				<h3></h3>
				<p></p>
			</div>
			<div class="tab-pane fade" id="v-pills-love" role="tabpanel" aria-labelledby="v-pills-love-tab">
				Subject/object agreement
				<h3></h3>
				<p></p>
				<h3></h3>
				<p></p>
				<h3></h3>
				<p></p>
				<h3></h3>
				<p></p>
				<h3></h3>
				<p></p>
				<h3></h3>
				<p></p>
			</div>
			<div class="tab-pane fade" id="v-pills-spell" role="tabpanel" aria-labelledby="v-pills-spell-tab">
				Oral components of transliteration
				<h3></h3>
				<p></p>
				<h3></h3>
				<p></p>
				<h3></h3>
				<p></p>
				<h3></h3>
				<p></p>
				<h3></h3>
				<p></p>
				<h3></h3>
				<p></p>
			</div>
	  	</div>
	</div>
</div>