.search-box {
    box-shadow:none !important;
}

.article.card {
    border-radius: $rounded-borders;
    text-decoration: none!important;
    padding: 15px;
    height: 100%;
    
    .card-footer {
        font-size: 14px;
        margin: 0 -15px -15px -15px;
        padding: 15px 35px;
    }
}

.article {

    .article-metadata {
        font-size: 14px;
        margin-top: -6px;
    }

    footer {
        font-size: 10px;
        color: #6c757d;
        text-decoration: underline;
        text-qqdecoration-color: yellow;
        text-align: right;
        margin-top: 4em;
        margin-right: 2em;
    }

    article, aside, h1, h2, h3, h4, h5, h6, hgroup, nav, section { display: block; }
    h1 { margin-block-start: 0.67em; margin-block-end: 0.67em; font-size: 2.00em; font-weight: normal; }
    h2 { margin-block-start: 0.83em; margin-block-end: 0.83em; font-size: 1.50em; font-weight: normal; }
    h3 { margin-block-start: 1.00em; margin-block-end: 1.00em; font-size: 1.17em; font-weight: bold; }
    h4 { margin-block-start: 1.33em; margin-block-end: 1.33em; font-size: 1.00em; font-weight: bold; }
    h5 { margin-block-start: 1.67em; margin-block-end: 1.67em; font-size: 0.83em; font-weight: bold; }
    h6 { margin-block-start: 2.33em; margin-block-end: 2.33em; font-size: 0.67em; font-weight: normal; }

    p, li { font-size: 1.02rem; line-height: 1.65em; color: $dark; }
    strong { font-weight: bolder; }

    dir, dd, dl, dt, ol, ul { display: block; }
    li { display: list-item; }
    
    dir, dl, ol, ul { margin-block-start: 1em; margin-block-end: 1em; }
    
    :matches(dir, dl, ol, ul) :matches(dir, dl, ol, ul) {
      margin-block-start: 0; margin-block-end: 0;
    }
    
    dd { margin-inline-start: 2.5em; }
    dir, ol, ul { padding-inline-start: 2.5em; }
    
    ol { list-style-type: decimal; }
    
    dir, ul {
      list-style-type: disc;
    }
    :matches(dir, ol, ul) :matches(dir, ul) {
      list-style-type: circle;
    }
    :matches(dir, ol, ul) :matches(dir, ol, ul) :matches(dir, ul) {
      list-style-type: square;
    }






    .lead { font-size: 1.25rem; line-height: 1.45em; }

    .badge {
        font-size: 92%;
        line-height: .9; }
    .badge-pill {
        padding: .4em .7em;
        margin: 0 0 0 .25em;
    }
    .nav-pills .nav-link {
        border-radius: 20rem;
    }

    hr { border: 1px solid $separator; border-width: 1px 0 0 0; margin: 1.5em 0; }

    img {
        display: block;
        max-width: 100%;
        height: auto;    
        margin: 1rem auto;
    }

    .video {
        position: relative;
        padding-bottom: 56.25%;
        margin-bottom: 1rem;
        width: 100%;
        iframe {
            position: absolute;
            height: 100%;
            width: 100%;
        }
    }

    a:not(.btn):not([class^="carousel-"]):not([class^="list-"]) {
        display: inline-block;
        text-decoration: none;

        &:hover { color: $primary; }

        &::after {
            content: '';
            display: block;
            height: 1px;
            margin-top: 1px;
            width: 0;
            background: $primary;
            transition: width .35s;
        }

        &:hover::after { width: 100%; }
    }

    pre {
        background: $light;
        border: 1px solid #ddd;
        color: $dark;
        font-family: monospace;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 1.6em;
        max-width: 100%;
        padding: 1em 1.5em;
        display: block;
        page-break-inside: avoid;
        overflow: auto;
        word-wrap: break-word;
    }

    code.highlighter-rouge {
        background-color: $light;
        color: $dark;
        border-radius: 3px;
        margin: 0;
        padding: .2em .65em;
    }

    blockquote {
        border-left: .25em solid $primary;
        color: $secondary;
        padding: 0 1em;
    }
    
    blockquote p { margin: 0;}

    table {
        display: block;
        overflow-x: auto;
        margin: 1rem 0;
        width: 100%;

        td {
            border: 1px solid #ddd;
            border-width: 1px 0;
            padding: .5em 1em;
        }

        th {
            @extend td;
            padding-top: .75em;
            padding-bottom: .75em;
            font-weight: 500;
            text-align: left;
            background-color: $primary;
            color: $light;
        }

        tr:nth-child(even) {
            background-color: $light;
        }
    }
}